<div class="dialog">
  <h1 mat-dialog-title>
    {{ 'APP.LOGIN'|translate }}
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()" id="loginForm" class="form-content">
      <p class="error" *ngIf="error && error.non_field_errors">
        {{ error.non_field_errors }}
      </p>
      <mat-form-field>
        <mat-label>
          {{ 'USER.USERNAME'|translate }}
        </mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="error && error.username">
          {{ error.username }}
        </mat-error>
        <mat-error *ngIf="loginForm.controls['username'].invalid">
          {{ getError("username") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'USER.PASSWORD'|translate }}
        </mat-label>
        <input matInput type='password' formControlName="password" required>
        <mat-error *ngIf="error && error.password">
          {{ error.password }}
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].invalid">
          {{ getError("password") }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" type="submit" form="loginForm">
      {{ 'APP.LOGIN'|translate }}
    </button>
  </div>
</div>
