.logo {
  flex: 1 1 auto;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.logo span:hover {
  cursor: pointer;
}

.logo span {
  font-weight: 700;
}

.nav-item {
  margin: 0.5rem;
  color: #FFFFFF;
}

.error {
  color: #f44336;
  font-size: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.dialog {
  width: 30vw;
  padding-bottom: 1rem;
}
