@import "../app.component.css";

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f7f7f7;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.expanded-cell {
  background-color: #f7f7f7;
}

.element-detail {
  padding: 1rem;
  overflow: hidden;
  display: flex;
}

.element-actions {
  min-width: 10vw;
  display: flex;
  flex-direction: column;
}

.element-description {
  opacity: 0.7;
  min-width: 30vw;
  margin-left: 2rem;
}

.element-info {
  display: flex;
  flex-direction: column;
}

.table-content {
  justify-content: center;
  margin: 2rem;
}

.table-content table {
  border-collapse: inherit;
  width: 100%;
}

.collapsed {
  border-bottom-width: 0;
}
tr.element-row:hover{
  cursor: pointer;
}
.action-button{
  margin-top: 0.7rem;
}
