<div class="main">
  <carousel>
    <slide>
      <img src="../../assets/img/home/furniture1.jpg" alt="first slide" class="w-100">
      <div class="carousel-caption d-none d-md-block">
        <h3>
          PFM {{ 'APP.PFM'|translate }}
        </h3>
        <p>

        </p>
      </div>
    </slide>
    <slide>
      <img src="../../assets/img/home/furniture2.jpg" alt="second slide" class="w-100">
      <div class="carousel-caption d-none d-md-block">
        <h3>
          {{ 'APP.ABOUT'|translate }}
        </h3>
        <p>

        </p>
      </div>
    </slide>
    <slide>
      <img src="../../assets/img/home/furniture3.jpg" alt="third slide" class="w-100">
      <div class="carousel-caption d-none d-md-block">
        <h3>
          {{ 'APP.FEATURES'|translate }}
        </h3>
        <p>

        </p>
      </div>
    </slide>
  </carousel>
</div>
